<p id="notice"><%= notice %></p>

<p>
  <strong>Customer ID:</strong>
  <%= @incident.customer_id %>
</p>

<p>
  <strong>Date of incident:</strong>
  <%= @incident.date_of_incident %>
</p>

<p>
  <strong>Value:</strong>
  <%= @incident.value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @incident.type_of_incident %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
