<%= form_for(@driverhistory) do |f| %>
  <% if @driverhistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driverhistory.errors.count, "error") %> prohibited this driverhistory from being saved:</h2>

      <ul>
      <% @driverhistory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no_of_incidents %><br>
    <%= f.number_field :no_of_incidents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
