<p id="notice"><%= notice %></p>

<h1>Listing Driverhistories</h1>

<table>
  <thead>
    <tr>
      <th>No of incidents</th>
      <th>Customer ID</th>      
      <th>Driver History ID</th>    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driverhistories.each do |driverhistory| %>
      <tr>
        <td><%= driverhistory.no_of_incidents %></td>
        <td><%= driverhistory.customer_id %></td>
        <td><%= driverhistory.id %></td>
        <td><%= link_to 'Show', driverhistory %></td>
        <td><%= link_to 'Edit', edit_driverhistory_path(driverhistory) %></td>
        <td><%= link_to 'Destroy', driverhistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driverhistory', new_driverhistory_path %>
