<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @premium.value %>
</p>

<p>
  <strong>Customer ID:</strong>
  <%= @premium.customer_id %>
</p>

<%= link_to 'Edit', edit_premium_path(@premium) %> |
<%= link_to 'Back', premia_path %>
